# Build outputs and object files
xbootsplash
xbootsplash_drm
extract_frames
*.o
*.a
*.deb
*.AppImage
*.tar.gz
build.log
frames_delta.h
binaries/
GUI_src/build/

# Desktop & editor files
.directory
.DS_Store
*~
*.swp
*.bak

# Temporary root files
/#todo.txt
/fix_host_resume.sh
/*.webp
/*.zip
/loadcat.gif
/newsplash15.gif
/p-ong.gif
/that's-all-you-get-bender.gif
